<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="operations" class="com.pack.secondproject.Operations">
		<constructor-arg index="0" value="100" />
		<constructor-arg index="1" value="200" />
	</bean>

	<bean id="book" class="com.pack.secondproject.Book">
		<property name="bookId" value="121" />
		<property name="bookName" value="Wings Of Fire" />
		<property name="bookAuthor" value="A.P.J Abdul kalam" />
	</bean>
</beans>
   